<app-navbar></app-navbar>
<div id="container">
    <h1>Create New Page</h1>
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Title" [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Summary" [(ngModel)]="summary"></textarea>
          </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Body" [(ngModel)]="body"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select a Theme" [(ngModel)]="selectedValue">
            <mat-option *ngFor="let o of options" [value]="o.name">
              {{o.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input type="file" (change)="onFileChanged($event)"
        >
        <button (click)="onUpload()">Upload!</button>
        <!-- <p style="text-align: center;"> The theme is   {{selectedValue}}</p> -->
        <div class="button-row">
            <button mat-raised-button color="warn" (click)="storePage()">
              Create Page
            </button>
          </div>
      </div>
</div>
