table {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(241, 235, 227);
  }

  div {
    margin-top: 40px;
  }

#pagin {
    width: 70%;
    margin: 0 auto;
    background-color: orangered;
}