<app-admin-navbar></app-admin-navbar>
<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname:</th>
      <th scope="col">Lastname:</th>
      <th scope="col">Username:</th>
      <th scope="col">Position:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of user">
      <th scope="row">{{u.uId}}</th>
      <td>{{u.fName}}</td>
      <td>{{u.lName}}</td>
      <td>{{u.username}}</td>
      <td><span *ngIf = "u.posId == 1">Admin</span>
         <span *ngIf = "u.posId == 2">User</span>
    </td>
    <td>
        <span *ngIf = "u.posId == 2"><button type="button" class="btn btn-dark" (click) = "promote(u.uId)">Promote to Admin</button></span>
    </td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" id="pagin">
</mat-paginator>
</div>