<mat-toolbar style="background-color: rgba(0,0,0,0)">
  <span>
    <button routerLink="/profile" mat-raised-button color="warn">Your Profile</button>
  </span>
  <span style="flex: 1 1 auto"></span>
  <span>
   <button routerLink="/create-page" mat-raised-button color="warn" id="cp">Create Page</button>
  </span>
</mat-toolbar>
<img src= "{{img}}" id = "size">


<input type="text" [(ngModel)]="t" placeholder="search topic..." style="width: 43%; margin-left: 29%;" (keydown)="search($event)">

<li *ngFor="let page of Page">
<div >
  <h4>{{p.title}}</h4>
</div>
</li>
 

<!-- <h3> Topics </h3>
<div id="list">

        <li>
          AOP
       </li>

        <li>
          Advanced
       </li>

        <li (click) = "getAwsPages()">
          Amaon Web Services
       </li>

        <li>
          Angular
       </li>

        <li>
          CSS
       </li>

        <li>
          HTML
       </li>

        <li>
          HTTP
       </li>

        <li>
          Hibrnate
       </li>
  
        <li (click) = "getIntroPages()">
          Intro
       </li>

        <li>
          Java
       </li>
        <li>
          Javascript
       </li>
        <li>
          Maven
       </li>
        <li (click) = "getSqlPages()">
          SQL
       </li>
        <li (click) = "getSqlCPages()">
          SQLCommands
       </li>
        <li>
          SQL SELECT statements
       </li>
        <li>
          Servlet
       </li>
        <li>
          Spring
       </li>
        <li>
          Typescript
       </li>
      
      
</div> --> -->

<!-- <div> -->
<!-- <ul *ngFor = "let p of page">
<li> {{p.title }}</li>
</ul>

</div> --> -->

<!-- <ul *ngFor = "let t of tags">
<li>{{t.tagName}}</li>
</ul>

<p> 
  {{info}}
</p> -->