<mat-toolbar style="background-color: rgba(0,0,0,0)">
  <span>
    <a routerLink="/profile"><button mat-raised-button color="warn">Your Profile</button></a>
  </span>
  <span style="flex: 1 1 auto"></span>
  <span>
    <a routerLink="/create-page"><button mat-raised-button color="warn" id="cp">Create a page</button></a>
  </span>
</mat-toolbar>
<img src= "{{img}}" id = "size">


<!-- <input type="text" placeholder="search topic..." style="width: 43%; margin-left: 29%;"> -->
 
<ul>
  <li>
    <a>AOP</a>
  </li>
  <li>
    <a>Advanced</a>
  </li>
  <li>
    <a>Amazon Web Services</a>
  </li>
  <li>
    <a>Angular</a>
  </li>
  <li>
    <a>CSS</a>
  </li>
  <li>
    <a>HTML</a>
  </li>
  <li>
    <a>HTTP</a>
  </li>
  <li>
    <a>Hibernate</a>
  </li>
  <li>
    <a>Intro</a>
  </li>
  <li>
    <a>Java</a>
  </li>
  <li>
    <a>Javascript</a>
  </li>
  <li>
    <a>Maven</a>
  </li>
  <li>
    <a>SQL</a>
  </li>
  <li>
    <a>SQL Commands</a>
  </li>
  <li>
    <a>SQL SELECT statements</a>
  </li>
  <li>
    <a>Servlet</a>
  </li>
  <li>
    <a>Spring</a>
  </li>
  <li>
    <a>Typescript</a>
  </li>
</ul>
