/* .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  } */
  .example-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 500px;
    margin-left: 435px;
  }
  
  .example-container > * {
    width: 100%;
  }

  #size {
    width: 30%;
    height:30%;
    margin-left: 480px;
    margin-top: 100px;  
  }

  .background {
    height: 100%;
    width: 100%;
}

label {
  margin-left: 150px;
}

button {
  margin-left: 200px;
}
h1 {
    color: rgb(247, 104, 9);
    margin-left: 510px;
    margin-top: 100px;
    margin-bottom: -80px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}
