<app-navbar></app-navbar>
<div id="container">
  <h1>Create New Page</h1>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Summary"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Body"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select a Theme">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary">Create Page</button>
    </div>
  </div>
</div>
