<app-navbar></app-navbar>
<div>
  <mat-toolbar style="height:400px">
    <span>
      <mat-toolbar>
        <mat-toolbar-row style="height: 100%">
          <img src="{{img}}" id="size">
        </mat-toolbar-row>
        <mat-toolbar-row style="height: 100%">
          <span style="flex: 1 1 auto"></span>
          <button type="button">Upload pic</button>
          <span style="flex: 1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </span>
    <span>
      <mat-toolbar style="margin-top: 40px">
        <mat-toolbar-row>
          <h2>fname lname</h2>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <h3>Email Address:</h3>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <h4>email@email.com</h4>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <h3>Password:</h3>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <h4>123*******</h4>
          <span style="flex: 1 1 auto"></span>
          <i class="material-icons" mat-raised-button matTooltip="Change Password" aria-label="Button that displays a tooltip when focused or hovered over">
            border_color
            </i>
        </mat-toolbar-row>
      </mat-toolbar>
    </span>
  </mat-toolbar>
</div>
<div style="background-color: orangered" class="section">
  <h2>Pages Created</h2>
</div>
<div style="background-color: rgb(56, 52, 52)" class="section">
  <h2>Pages Bookmarked</h2>
</div>
