/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
/* background-color: rgb(241, 235, 227); */
background-image: url('assets/pics/tosined.png');
background-size: 100% 120%;
background: no-repeat;
}



