<div class="background">
  <div style="width: 390px; margin: 100px auto;">
<img src= "{{img}}" id = "size">
</div>
<div class="example-container">
  <mat-form-field style="width:100%;">
    <input [(ngModel)] = 'username' matInput placeholder="Enter your username" type="username">
  </mat-form-field>

  <mat-form-field style="width:100%;">
    <input [(ngModel)] = 'password' matInput placeholder="Enter your password" type="password">
  </mat-form-field>
<div class="button-row">
  <button mat-raised-button color="warn" (click) = "login()">Login</button>
</div><br>
<label>New user? Sign-up <a routerLink = "/signup">here</a>!</label>
<h5>{{display}}</h5>
</div>
